@if (taskItem) {
<div class="todo panel" >
  <div (click)="toggleDone()">
    <input class="todo__checkbox" type="checkbox"
      [(ngModel)]="taskItem.done"
      [attr.title]="taskItem.done ? 'Wiedereröffne Aufgabe mit Titel ' + taskItem.title : 'Erledige Aufgabe mit Titel ' + taskItem.title"
      [attr.aria-label]="taskItem.done ? 'Wiedereröffne Aufgabe mit Titel ' + taskItem.title : 'Erledige Aufgabe mit Titel ' + taskItem.title">
    <div class="todo__title" [ngClass]="{'todo--completed': taskItem.done}">{{taskItem.title}}</div>
    @if (!taskItem.done) {
      <p class="todo__description">{{taskItem.description}}</p>
      <div class="todo__date" [ngClass]="{'todo--overdue': isOverDue()}">{{taskItem.dueDate | date: "dd.MM.YYYY" }}</div>
      @if (!editing) {
        <div class="todo__actions">
          <button class="button button--small" type="button"
                  [attr.aria-label]="'Editiere Aufgabe mit Titel ' + taskItem.title"
                  [attr.title]="'Editiere Aufgabe mit Titel ' + taskItem.title"
                  (click)="startEditing($event)">✎</button>
          <button class="button button--small button--danger" type="button"
                  [attr.aria-label]="'Entferne Aufgabe mit Titel ' + taskItem.title"
                  [attr.title]="'Entferne Aufgabe mit Titel ' + taskItem.title"
                  (click)="removeTaskItem($event)">⨉
          </button>
        </div>
      }
    }
  </div>
  @if (editing) {
    <app-task-item-form [taskItem]="taskItem" (formFinished)="editing = false"></app-task-item-form>
  }
</div>
}
