<form class="todo-form" [ngClass]="{'panel': !taskItem}" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="saveTaskItem()">
  <app-form-control-row label="Titel*" for="todo-title" [control]="formGroup.controls['title']">
    <input type="text" class="form-field form-field--100" id="todo-title" name="todo-title"
           formControlName="title">
  </app-form-control-row>
  <app-form-control-row label="Beschreibung*" for="todo-description" [control]="formGroup.controls['description']">
      <textarea class="form-field form-field--100" id="todo-description" name="todo-description"
                formControlName="description"></textarea>
  </app-form-control-row>
  <app-form-control-row label="Fälligkeitsdatum*" for="todo-date"  [control]="formGroup.controls['dueDate']">
    <input type="date" class="form-field" id="todo-date" name="todo-date"
           formControlName="dueDate">
  </app-form-control-row>

  <div class="form-buttons">
    @if (taskItem) {
      <button class="button button--default" id="cancel-form-button"
              type="button"
              style="margin-right: 1rem"
              (click)="cancelEdit()">Abbrechen</button>
    }
    <button class="button" id="todo-form-button" type="submit">Speichern</button>
  </div>
</form>
